.mainBlock {
    height: 100vh;
    background-color: #b697d4;
}

.text {
    width: 350px;
    background-color: #d7d5d5;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d7d5d5;
}