.worksBlock {
    min-height: 100vh;
    background-color: #5b42b8;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d7d5d5;
}

.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}