@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px;

  .image {
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
    width: 100%;

    &::before {
      position: absolute;
      content: '';
      background-color: $bgColor;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

  }

  .viewBtn {
    background-color: $primaryColor;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    color: $textColor;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    opacity: 0.4;
    border-radius: 15px;
  }

  .projectInfo {
    padding: 25px 20px;

    .description {
      @include text($textFontFamily, 14px, 1.8);
      font-weight: 400;
    }

    .projectTitle {
      @include text($titleFontFamily, 18px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }
  }
}
.image a:hover {
  opacity: 1;
}