@import '../common/styles/sass/variables.scss';

.skillsBlock {
    min-height: 100vh;
    background-color: $bgColor;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #d7d5d5;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}